
*.pyc
tags
test
models
.idea

# datasets
facades/
facades_test/
facades_train/
night2day/
night2day_train/
facial_test/
facial_train/
night2day_train/
bw2color_train/
ukiyoe2photo_256/
vangogh2photo_256/

# other folders
server/
docs/
docker/

# other format
*.zip
*.jpg
*.png
*.tar
*.tar.gz
*.tar.xz
*.egg
*.log

# folders
.idea/
__pycache__/

