
colorama
git+https://github.com/Lasagne/Lasagne.git@0440814#egg=Lasagne==0.2-dev

##conda install
m2w64-toolchain
mkl-service
Theano

pyqt5==5.11.3
opencv-python==3.4.7.28
numpy>=1.16
tensorflow-gpu>=1.15.2
scipy>=1.2
pillow>=5.4.1
imageio>=2.4.1

